.card-inner{
  
    &__technologies{
        display: flex;
        flex-direction: column;
    }
    &__technologies-item{
        width: 30%;
        display: flex;
        margin-right: 5px;
    }
}